$default-font-size: 16px;

$color-primary-dark: #022340;
$color-primary-light: #EFFCFD;
$color-secondary-dark: #075665;
$color-secondary: #0B9393;
$color-info: #10EAD2;
$color-default: #555;
//$color-primary-semi-transparent: add-alpha();

$padding-nav: 20px 70px;
$padding-nav-item: 10px;
$padding-image: 10px 10px;

$font-family-stack: system-ui, Lato, Ubuntu, sans-serif;
